<?js
var data = obj;
var self = this;
var types = data ? data.names || [] : [];
if (types.length) { ?>
<div class="detail-content">
    <h5><b>Type</b>:</h5>
    <?js= this.partial('type.tmpl', types) ?>
</div>
<?js } ?>
